<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!-- use appSetting to configure MSMQ queue name -->
    <add key="JobRequestQueue" value=".\private$\JobRequest" />
    <add key="TaskResponseQueue" value=".\private$\TaskResponse" />
    <add key="TaskRequestQueue" value=".\private$\TaskRequest" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Elasticity.Tests.FakeScheduler">
        <endpoint address="net.msmq://localhost/private/JobRequest" binding="netMsmqBinding"
          bindingConfiguration="QueueBinding" contract="Elasticity.ISchedulerJobRequestQueue" />
        <endpoint address="net.msmq://localhost/private/TaskResponse"
          binding="netMsmqBinding" bindingConfiguration="QueueBinding"
          contract="Elasticity.ISchedulerTaskResponseQueue" />
      </service>
      <service name="Elasticity.Tests.FakeAgent">
        <endpoint address="net.msmq://localhost/private/TaskRequest"
          binding="netMsmqBinding" bindingConfiguration="QueueBinding"
          contract="Elasticity.IAgentTaskRequestQueue" />
      </service>
    </services>

    <bindings>
      <netMsmqBinding>
        <binding name="QueueBinding">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">          
          <serviceMetadata httpGetEnabled="True" httpsGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_TraceLog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
